button{
    background-color: teal;
    color: white;
    font-size: 18px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: tomato;
}